<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardList</title>
    <!-- 부트스트랩 CSS 파일 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .title {
            text-align: center;
            margin-top: 140px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="table-list container mt-5">
        <h2 class="title">게시판 목록</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">writer</th>
                <th scope="col">date</th>
                <th scope="col">hits</th>
            </tr>
            </thead>
            <tbody>
            <!-- board라는 변수로 boardList에 접근 (foreach)-->
            <tr th:each="board: ${boardList}">
                <td th:text="${board.id}"></td>
                <!-- 경로상에 제대로 된 표현을 하고 싶은 경우 버티컬 바(|)를 꼭 사용해야 함-->
                <td><a th:href="@{|/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
                <td th:text="${board.boardWriter}"></td>
                <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${board.boardHits}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- 부트스트랩 JS 파일 추가 -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
