<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h2>Hello Spring boot !</h2>

    <a href="/member/join">회원가입</a>
    <a href="/member/login">로그인</a>
    <a href="/member">회원목록</a>

    <br>

    <button onclick="writeReq()">글작성</button>
    <!--
         <a href="/board/write">글작성</a> 와 같은 곳으로 이동
    -->
    <button onclick="boardListReq()">글목록</button>
</body>
<script>
    // 기본 함수 정의 방식
    // function write() {
    // }
    const writeReq = () => {
        location.href = "/board/write";
    }
    const boardListReq = () => {
        location.href = "/board/list";
    }
</script>
</html>