<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>update</title>
</head>
<body>
    <!-- 사용자가 입력한 값을 보여줘야하는 것도 맞고
         DB에서 가져온 값으로 채워야 하는 것도 맞음 (th:value)-->
    <form action="/member/update" method="post">
        <input type="hidden" th:value="${updateMember.id}" name="id"><br>
        이메일: <input type="text" th:value="${updateMember.memberEmail}" name="memberEmail" readonly><br>
        비밀번호: <input type="text" th:value="${updateMember.memberPassword}" name="memberPassword"><br>
        이름: <input type="text" th:value="${updateMember.memberName}" name="memberName"><br>
        <input type="submit" value="정보수정">
        <!-- name은 반드시 있어야 하고 update 필드와 동일해야 함 -->
    </form>
</body>
</html>